/* intro */

@keyframes intro_mobile_left {
    from {
        left:0;
    }
    to {
        left: -42vw;
    }
}

@keyframes intro_mobile_right {
    from {
        right:0;
    }
    to {
        right: -42vw;
    }
}

@keyframes intro_desktop {
    from {
        top:0;
    }
    to {
        top: -92vh;
    }
}

/* hover */

@keyframes nav_hover_left {
    from {
        left: -42vw;
    }
    to {
        left: 0vw;
    }
}

/* header */

@keyframes header_color_switch {
    0% {
        color: var(--color-1);
        --shadow-color: var(--color-2);
    }
    99% {
        color: var(--color-2);
        --shadow-color: var(--color-1);
    }
}

/* disc */

.scroller {
    width: 100vw;
    position: relative;
}

.disc {
    margin-top: 10vh;
    z-index: -300;
    position: absolute;
    width: 100px;
}

.logo {
    display: none;
    margin-top: 10vh;
    z-index: -300;
    position: absolute;
    width: 200px;
    animation: 15s linear 0s infinite normal forwards running disc;
}

@media screen and (min-width: 769px) {
    .scroller {
        margin-bottom: 10%;
    }
    .disc {
        margin-top: 3vh;
        width: 200px;
    }

    .logo {
        display: block;
        margin-top: 3vh;
        width: 400px;
        margin-left: -30vw;
    }
}

#first {
    animation: 15s linear 0s infinite normal forwards running disc;
}

#second {
    animation: 15s linear 5s infinite normal forwards running disc;
    left:-30vw;
}

#third {
    animation: 15s linear 10s infinite normal forwards running disc;
    left:-30vw;
}

@keyframes disc {
    from {
        left: -30vw;
    }

    to {
        left: 130vw
    }
}
