@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');

/*////////////////////////////////////////////////////

menu

////////////////////////////////////////////////////*/

/* Mobile */

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0%;
    padding-top: 0vh;
    overflow: hidden;
    background-color: rgb(255, 236, 236);
}

nav {
    position: sticky;
    top: -95vh;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;

    position: sticky;

    width: 100vw;

    margin: 0 0% 6vh 0%;
    padding: 0%;

    border: 1px solid black;

    z-index: 200;
}


.letterBox {

    position: relative;
    display: flex;
    justify-content: center;

    width: 48vw;
    height: 46vh;
    background-color: #ec3c10;

    margin: 1%;
    padding: 0%;

}

.letterBox#D {
    background-color: #f8e006;
}

.letterBox#D:hover .letter#D{
    display: none;
}

.letterBox#D:hover .letterAlt#D{
    display: block;
}

.letterBox#I {
    background-color: #ec3c10;
}

.letterBox#I:hover .letter#I{
    display: none;
}

.letterBox#I:hover .letterAlt#I{
    display: block;
}

.letterBox#S {
    background-color: #ec3c10;
}

.letterBox#S:hover .letter#S{
    display: none;
}

.letterBox#S:hover .letterAlt#S{
    display: block;
}

.letterBox#C {
    background-color: #f8e006;
}

.letterBox#C:hover .letter#C{
    display: none;
}

.letterBox#C:hover .letterAlt#C{
    display: block;
}

/* hover */



.letter {

    font-family: 'Tinos', serif;
    font-size: 45vh;

    display: block;
    position: relative;
    top: -10%;
    color: #ec3c10;
    text-decoration: none;

    text-shadow: 20px 10px 1px black;

    
    -webkit-transform: scale(0.4, 1);
    -moz-transform: scale(0.4, 1);
    -ms-transform: scale(0.4, 1);
    -o-transform: scale(0.4, 1);
    transform: scale(0.6, 1);
    
}

.letter#D {
    color: #ec3c10;
    display: block;
}

.letter#I {
    color: #f8e006;
    display: block;
}

.letter#S {
    color: #f8e006;
    display: block;
}

.letter#C {
    color: #ec3c10;
    display: block;
}


.letter.yellow {
    color: #f8e006;
    display: block;
}

.letterAlt {
    font-family: 'Tinos', serif;
    font-size: 18vh;

    text-decoration: none;
    color: #ec3c10;
    text-shadow: 0.4vw 0.4vw 1px black;

    writing-mode: vertical-lr;
    text-orientation: upright;

    letter-spacing: -40%;

    display: none;
    position: relative;
    top: 9%;
}

.letterAlt.yellow {
    color: #f8e006;
}

.letterAlt#D {
    font-size: 5vh;
}

.letterAlt#I {
    font-size: 8vh;
    top: 10%;
}

.letterAlt#S {
    color: #f8e006;
    font-size: 5vh;
}

.letterAlt#C {
    color: #ec3c10;
    font-size: 10vh;
    top: 15%;
}

/* Desktop */

@media screen and (min-width: 769px) {
    
    nav {
        flex-wrap: nowrap;
    }

    .letterBox {
        height: 96vh;
        width: 23vw;
    }

    .letterBox#S {
        background-color: #f8e006;
    }
    
    .letterBox#C {
        background-color: #ec3c10;
    }

    .letter {
        top: -10%;
        font-size: 100vh;   
        text-shadow: 30px 20px 1px black;
    }

    .letterAlt {
        font-size: 18vh;
    }

    .letter#S {
        color: #ec3c10;
    }
    
    .letter#C {
        color: #f8e006;
    }

    .letterAlt#D {
        font-size: 10vh;
    }
    
    .letterAlt#I {
        top: 10%;
    }
    
    .letterAlt#S {
        font-size: 10vh;
    }
    
    .letterAlt#C {
        top: 15%;
    }
}