@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');



/*////////////////////////////////////////////////////

menu

////////////////////////////////////////////////////*/

/* Mobile */

nav {
    position: fixed;
    top: 0vh;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;

    width: 100vw;
    height: 0vh;

    margin: 0 0% 6vh 0%;
    padding: 0%;

    /*border: 1px solid black;*/

    z-index: 300;
}


.letterBox {

    position: relative;
    display: flex;
    justify-content: center;

    width: 48vw;
    height: 50vh;
    background-color: #ec3c10;
    margin: 1%;
    padding: 0%;

    border: 2px solid black;
}


.letterBox#D {
    background-color: #f8e006;
    left: 0vw;
}

.letterBox#I {
    background-color: #ec3c10;
    right: 0vw;
}

.letterBox#S {
    background-color: #ec3c10;
    left: 0vw;
}

.letterBox#C {
    background-color: #f8e006;
    right: 0vw;
}

/* intro */


.introAnimation#D, .introAnimation#S {
    animation: 1s ease-in-out 1s 1 normal forwards paused intro_mobile_left;
}

.introAnimation#I, .introAnimation#C {
    animation: 1s ease-in-out 1s 1 normal forwards paused intro_mobile_right;
}

/* hover */

.hoverAnimation#D, .hoverAnimation#S {
    transition: left 1s;
    left: -42vw;
}

.hoverAnimation#D:hover, .hoverAnimation#S:hover {
    left: 0vw;
}

.hoverAnimation#I, .hoverAnimation#C {
    transition: right 1s;
    right: -42vw
}

.hoverAnimation#I:hover, .hoverAnimation#C:hover {
    right: 0vw
}




.letter {

    font-family: 'Tinos', serif;
    font-size: 40vh;

    display: block;
    position: relative;
    top: -2%;
    color: #ec3c10;
    text-decoration: none;

    text-shadow: 20px 10px 1px black;

    -webkit-transform: scale(0.4, 1);
    -moz-transform: scale(0.4, 1);
    -ms-transform: scale(0.4, 1);
    -o-transform: scale(0.4, 1);
    transform: scale(0.4, 1);
}

.letter#D {
    color: #ec3c10;
}

.letter#I {
    color: #f8e006;
}

.letter#S {
    color: #f8e006;
}

.letter#C {
    color: #ec3c10;
}


.letter.yellow {
    color: #f8e006;
}

/* Desktop */

@media screen and (min-width: 769px) {

    nav {
        flex-wrap: nowrap;
        height: 10vh;
    }

    .letterBox {
        width: 23vw;
        height: 96vh;
    }

    .letterBox#D {
        left: 0;
        transition: top 1s;
    }

    .letterBox#I {
        right: 0;
        transition: top 1s;
    }

    .letterBox#S {
        background-color: #f8e006;
        left: 0;
        transition: top 1s;
    }

    .letterBox#C {
        background-color: #ec3c10;
        left: 0;
        transition: top 1s;
    }

    .letter {
        top: -10%;
        font-size: 100vh;
    }

    .letter#S {
        color: #ec3c10;
    }

    .letter#C {
        color: #f8e006;
    }   

/* intro */


.introAnimation {
    animation: 1s ease-in-out 1s 1 normal forwards paused intro_desktop;
}

/* hover */

.hoverAnimation {
    top: -90vh;
}

.hoverAnimation:hover {
    top: 0vh;
}

}

/*////////////////////////////////////////////////////

general

////////////////////////////////////////////////////*/

/*for debugging*/

/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
*/

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0%;
    padding-top: 10vh;
    overflow-x: hidden;
    background-size: 100% 200%;
}

body:before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 120%;
    width: 120%;
    background: #ffffff;
    mix-blend-mode: multiply;
    opacity: .3;
    background-image: url(/gradient/grain.svg);
    filter: brightness(120%), grayscale(1);

    cursor: pointer;
    pointer-events: none;
    
}




.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    background-color: grey;
    padding: 0% 0% 2% 0%;
    margin: 0%;

    border: 2px solid black;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    max-width: 722px;
    padding: 0%;

    /*border: 1px solid red;*/
}

.column {
    /*border: 1px solid white;*/
    width: 200px;
    height: fit-content;
    padding: 2%;
}

@media screen and (min-width: 786px) {

    .container {
        width: 80%;
        justify-content: flex-end;
    }

    article {
        justify-content: left;
        width: 60vw;
        max-width: 2000px;
    }

    .column {
        width: 220px;
    }

}

/*////////////////////////////////////////////////////

text

////////////////////////////////////////////////////*/

h1 {
    --color-1: #000000;
    --color-2: #f1510c;
    --shadow-color: var(var(--color-2));

    display: block;
    font-family: 'Tinos', serif;
    font-size: 50px;
    color: var(--color-1);
    text-align: center;

    padding: 0;
    margin: 0% 0% 2% 0%;

    text-shadow: 4px 4px 1px var(--shadow-color);

    animation: 1s steps(2, end) 1s infinite normal forwards running header_color_switch;
}

h1::after {
    content: "\a";
    white-space: pre;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;

    text-align: center;

    margin: 0%;
}

p {
    font-size: 16px;
    padding: 0%;
    margin: 0%;
    line-height: 95%;
    text-align: justify;
}

.initial {
    padding: 1.1rem 0;
    margin: 0 .3rem 0 0;
    font-size: 300%;
    line-height: 1%;

    float: left;
}

.indent {
    text-indent: 10%;
    float: right;
}

ul.a {
    list-style-type: disc;
    margin-left: -10%;
    font-size: 16px;

    text-align: justify;
}

@media screen and (min-width: 789px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 48px;
    }

    p {
        font-size: 20px;
    }

    ul.a {
        font-size: 20px;
    }

}

/*////////////////////////////////////////////////////

boxes

////////////////////////////////////////////////////*/


.inlinebox {
    display: inline-block;
    background-color: #f0531a;
    color: white;

    height: fit-content;
    width: auto;

    padding: 5%;
    margin-top: 5%;
    margin-bottom: 15%;

    border: 1px solid black;
}

.inlinebox.shadow {
    margin-top: 0%;
    background-color: #f9f1c9;
    color: black;
    box-shadow: 10px 10px 1px black;
}

@media screen and (min-width: 769px) {
    .inlinebox {
        width: 40%;
    }
}

/*////////////////////////////////////////////////////

CUSTREQ

////////////////////////////////////////////////////*/

#pink {
    background: #ffadad;
}

#pinkleft {
    background: #ffadad;
}

#rosa1 {
    background: #e65789;
    border-style: solid;
    border-color: black black rgb(0, 0, 0, 0) rgb(0, 0, 0, 0);
    margin-top: 40vh;
    height: auto;
}

#rosa2 {
    background: #e65789;
    border-style: solid;
    border-color: rgb(0, 0, 0, 0) black black rgb(0, 0, 0, 0);
    margin-top: 20vh;
    height: auto;
}

#orange {
    background-color: #ff9d09;
}

#green {
    background-color: #00a34a;
    height: fit-content;
    align-items: center;
    flex-direction: column;
}

#wordseeker {
    position: relative;
    left: -37%;
    width: 75vw;
    margin-top: 10%;
}

#musicbox {
    position: relative;
    left: -25%;
    width: 150%;
}

h2.black {
    color: black;
    font-size: 20px;
}

p.mono {
    padding: 5%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: left;
}

#copyright-custreq {
    margin: 0%;
    margin-right: 10%;
    padding: 2%;
    width: 220px;
    align-self: center;
    position: relative;
    top: -10vh;
}

#usageContainer {
    justify-content: center;
    flex-direction: column;
}

article#usage {
    background-color: black;
    width: 220px;
    align-self: center;
    border: 2px solid black;

}

.inlinebox.startup {
    background-color: #d6f696;
    color: black;
    border: none;
    width: 84%;
    padding: 2% 1% 2% 15%;
    margin: 11% 0%;
}

h1.startup {
    --color-1: #f3278d;
    --color-2: #ffffff;
    --shadow-color: var(--color-2);
    text-shadow: 4px 4px 1px var(--shadow-color);
    margin-bottom: 10%;
}



article.startup {
    flex-direction: column;
    justify-content: start;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: fit-content;
}

#loadWorkbench {
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    padding: 0%;
}


h1.nopal {
    --color-1: #ffffff;
    --color-2: #000000;
    --shadow-color: var(--color-2);
    text-shadow: 4px 4px 1px --shadow-color;

}

article.nopal {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1%;


}

.column.nopal {
    display: flex;
    justify-content: end;
    padding: 0%;
    position: relative;
    width: 200px;
    right: 0%;
    align-self: start;
    color: white;
    background-color: #f65f28;
    border: 1px solid black;
}

h1.musicbox {
    --color-1: #01609b;
    --color-2: #ffffff;
    --shadow-color: var(--color-2);
    text-shadow: 4px 4px 1px --shadow-color;
    text-align: center;
    margin: 5% 5% 5% 0%;
}

article.musicbox {
    flex-direction: column;
    align-items: center;
}

.column.codeclinic {
    background: linear-gradient(to top, #005d96 90%, rgb(0, 0, 0, 0) 10%);
    color: white;
}

#codeclinic {
    width: 100%;
}


@media screen and (min-width: 769px) {
    #pink {
        justify-content: flex-end;
        position: relative;
        left: 20%;
    }

    #pinkleft {
        justify-content: flex-end;
    }

    #green {
        flex-direction: row;
        justify-content: flex-start;
        position: relative;
        left: 20%;
    }

    #rosa1 {
        margin-top: 30vh;
    }

    #wordseeker {
        padding-top: 40%;
        width: 300%;
        left: 0;
    }


    #musicbox {
        left: 0%;
        width: 240%;
    }

    h2.black {
        font-size: 32px;
    }

    p.mono {
        font-size: 20px;
    }

    #copyright-custreq {
        align-self: flex-start;
        position: relative;
        top: -10vh;
        margin-right: 10%;
    }

    #usageContainer {
        justify-content: right;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2%;
    }

    article#usage {
        width: 100%;
    }

    article.startup {
        flex-wrap: wrap;
        align-content: start;
        height: 70vh;
        padding-top: 3vh;
    }

    .column.startup {
        margin-top: 0%;
    }

    #loadWorkbench {
        padding-top: 5%;
        width: 200%;
        left: -10vw;
        top: -9vh;
    }

    h1.startup {
        margin-bottom: 0%;
        margin-top: 0%;
    }

    article.nopal {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .column.nopal {
        width: 50%;
    }

    h1.musicbox {
        font-size: 120px;
        align-self: flex-start;
        padding-left: 1vw;
    }
}

@media screen and (min-width: 1440px) {
    article#usage {
        width: 60%;
    }
}


/*////////////////////////////////////////////////////

SYS

////////////////////////////////////////////////////*/

#lightorange-sys {
    background-color: #ffc895;
    justify-content: center;
    border-color: black black rgb(0, 0, 0, 0) rgb(0, 0, 0, 0);
}

#lightorange {
    background-color: #ffc895;
    justify-content: center;
    border-color: rgb(0, 0, 0, 0) black black rgb(0, 0, 0, 0);
}

#blue {
    margin-top: 10vh;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #5fc7db;

    justify-content: start;

    height: 2000px;
}

#greenchaos {
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #0aa14f;
    margin-top: 65vh;
}

#sys {
    flex-direction: column;
    align-items: center;
}

#imgsys {
    position: relative;
    top: -20%;
    left: -50%;
    width: 200%;
}

h1#sysheader {
    --color-1: #000000;
    --color-2: #e75c2f;
    --shadow-color: var(var(--color-2));
    font-size: 112px;
    text-shadow: 4px 4px 1px var(--shadow-color);
    margin-bottom: 10%;
}

#controls {
    margin-top: 5vh;
    height: 15vh;
    justify-content: center;

}

.column.controls {
    background-color: #f4692b;
    color: white;
    border: 2px solid black;
}

#controlsheader {
    color: white;
    margin-bottom: 10%;
}

article#file-tips {
    background-color: black;
    width: 100%;
    max-width: 220px;
    border: 2px solid black;
}

#file-tips-container {
    justify-content: center;
    width: 100%;
}

h1#chaos {
    --color-1: #ffffff;
    --color-2: #e95a2d;
    --shadow-color: var(var(--color-2));
    font-size: 64px;
    text-shadow: 4px 4px 1px var(--shadow-color);
    margin-top: 15%;
    margin-bottom: 15%;
}

article#chaos {
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

img#chaosimg {
    position: relative;
    margin-top: 10%;
    left: -50%;
    width: 200%;
}

img#workbench {
    width: 200%;
    position: relative;
    top: -10%;
    left: -50%;
}

h1#megawb {
    --color-1: #354f91;
    --color-2: #ffffff;
    --shadow-color: var(var(--color-2));
    padding: 0%;
    margin: 0%;
    margin-top: -10%;
    text-shadow: 4px 4px 1px var(--shadow-color);
    font-size: 128px;
    position: relative;
    left: -50%;

    -webkit-transform: scale(0.4, 1);
    -moz-transform: scale(0.4, 1);
    -ms-transform: scale(0.4, 1);
    -o-transform: scale(0.4, 1);
    transform: scale(0.4, 1);
}

article#megawb-header {
    width: 68%;
    flex-direction: column;
}

article#megawb-text {
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: center;

    width: 50vw;
    align-self: center;

    margin-top: -20%;
}

article#megawb-bugs {
    flex-direction: column;
    align-items: center;

    width: 60vw;

    margin-top: 10%;
}

.column#megawb-bugs {
    background-color: #223061;
    margin-top: 10%;
    color: white;
    border: 2px solid black;

    order: 1
}

.column#copyright {
    padding-top: 10%;
    order: 2;
    position: relative;
    left: -2%;
}

h2#megawb-bugs-header {
    background-color: black;
    font-size: 24px;
}



@media screen and (min-width: 769px) {

    #lightorange-sys {
        background-color: #ffc895;
        justify-content: end;
        border-style: solid;

    }

    #lightorange {
        border-style: solid;

    }

    #blue {
        position: relative;
        margin-top: 30vh;

        height: 2000px;
        justify-content: start;
        align-items: flex-end;
    }

    #greenchaos {
        position: relative;
        left: 20%;
        align-items: flex-start;

        margin-top: 25vh;
        z-index: -100;
    }

    #sys {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: right;
        align-items: start;

        width: 80%;
    }

    #syscolumn {
        order: -1;
        width: 60vw;
        max-width: 880px;
        height: fit-content;
    }

    #imgsys {
        top: 0;
        left: 0;
        width: 100%;
    }

    #controls {
        margin-top: 0vh;
        justify-content: start;
        padding-left: 30%;
    }


    article#chaos {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    img#chaosimg {
        position: relative;
        width: 55vw;
        max-width: 800px;
        left: 0%;
    }

    img#workbench {
        width: 50vw;
        position: relative;
        left: 0%;
        top: -10%;
    }

    article#file-tips-container {
        justify-content: flex-start;
        margin-left: 12.5vw;
    }

    article#file-tips {
        width: 100%;
        max-width: 500px
    }


    article#megawb-header {
        align-self: flex-end;
        top: -20vh;
        align-items: center;
        width: 90%;
    }

    article#megawb-text {
        margin-top: 5%;
        align-self: flex-end;
    }

    article#megawb-bugs {
        align-self: flex-start;
        margin-top: 1%;
        align-items: flex-end;
        width: 69vw;
    }

    h1#megawb {
        text-shadow: 8px 8px 1px var(--shadow-color);
        font-size: 250px;
        margin-top: 0%;
        position: relative;
        left: 17%;
    }

    .column#megawb-bugs {
        margin-top: 2%;
        margin-right: 4%;
    }

    .column#copyright {
        width: 270px;
        left: -2%;
    }

}