@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');



/*////////////////////////////////////////////////////

menu

////////////////////////////////////////////////////*/

/* Mobile */

nav {
    position: fixed;
    top: 0vh;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;

    width: 100vw;
    height: 0vh;

    margin: 0 0% 6vh 0%;
    padding: 0%;

    /*border: 1px solid black;*/

    z-index: 200;
}


.letterBox {

    position: relative;
    display: flex;
    justify-content: center;

    width: 48vw;
    height: 50vh;
    background-color: #ec3c10;

    margin: 1%;
    padding: 0%;

}


.letterBox#D {
    background-color: #f8e006;
    left: -42vw;
}

.letterBox#I {
    background-color: #ec3c10;
    right: -42vw;
}

.letterBox#S {
    background-color: #ec3c10;
    left: -42vw;
}

.letterBox#C {
    background-color: #f8e006;
    right: -42vw;
}

/* hover */

.letterBox#D:hover {
    left: 0;

}

.letterBox#I:hover {
    right: 0;
}

.letterBox#S:hover {
    left: 0;

}

.letterBox#C:hover {
    right: 0;
}




.letter {

    font-family: 'Tinos', serif;
    font-size: 40vh;

    display: block;
    position: relative;
    top: -2%;
    color: #ec3c10;
    text-decoration: none;

    text-shadow: 20px 10px 1px black;

    -webkit-transform: scale(0.4, 1);
    -moz-transform: scale(0.4, 1);
    -ms-transform: scale(0.4, 1);
    -o-transform: scale(0.4, 1);
    transform: scale(0.4, 1);
}

.letter#D {
    color: #ec3c10;
}

.letter#I {
    color: #f8e006;
}

.letter#S {
    color: #f8e006;
}

.letter#C {
    color: #ec3c10;
}


.letter.yellow {
    color: #f8e006;
}

/* Desktop */

@media screen and (min-width: 769px) {
    
    nav {
        flex-wrap: nowrap;
        height: 10vh;
        background-color: rgb(255, 236, 236);
    }

    .letterBox {
        width: 23vw;
        height: 96vh;
        top: -90vh;
  
    }

    .letterBox#D {
        left: 0;
    }
    
    .letterBox#I {
        right: 0;
    }

    .letterBox#S {
        background-color: #f8e006;
        left: 0;
    }
    
    .letterBox#C {
        background-color: #ec3c10;
        left: 0;
    }

    /* hover */

    .letterBox:hover {
        top: -3vh
    }


    .letter {
        top: -10%;
        font-size: 100vh;
    }

    .letter#S {
        color: #ec3c10;
    }
    
    .letter#C {
        color: #f8e006;
    }
}

/*////////////////////////////////////////////////////

general

////////////////////////////////////////////////////*/

/*for debugging*/

/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
*/

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0%;
    padding-top: 10vh;
    overflow-x: hidden;
    background-color: rgb(255, 236, 236);
}



.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;

    /*border: 2px solid green;*/
    background-color: grey;
    padding: 0% 0% 2% 0%;
    margin: 0%;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    max-width: 722px;
    padding: 0%;

    /*border: 1px solid red;*/
}

.column {
    /*border: 1px solid white;*/
    width: 200px;
    height: fit-content;
    padding: 2%;
}

@media screen and (min-width: 786px) {

    .container {
        background: linear-gradient(to right, grey 80%, rgb(0, 0, 0, 0) 20%);
    }

    article {
        justify-content: left;
        width: 60vw;
        max-width: 2000px;
    }

    .column {
        width: 220px;
    }

}

/*////////////////////////////////////////////////////

text

////////////////////////////////////////////////////*/

h1 {
    display: block;
    font-family: 'Tinos', serif;
    font-size: 32px;
    color: black;
    text-align: center;

    padding: 0;
    margin: 0% 0% 2% 0%;

    text-shadow: 4px 4px 1px rgb(241, 81, 12);
}

h1::after {
    content: "\a";
    white-space: pre;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;

    text-align: center;

    margin: 0%;
}

p {
    font-size: 16px;
    padding: 0%;
    margin: 0%;
    line-height: 95%;
    text-align: justify;
}

.initial {
    padding: 1.1rem 0;
    margin: 0 .3rem 0 0;
    font-size: 300%;
    line-height: 1%;

    float: left;
}

.indent {
    text-indent: 10%;
    float: right;
}

ul.a {
    list-style-type: disc;
    margin-left: -10%;
    font-size: 16px;

    text-align: justify;
}

@media screen and (min-width: 789px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 48px;
    }

    p {
        font-size: 20px;
    }

    ul.a {
        font-size: 20px;
    }

}

/*////////////////////////////////////////////////////

boxes

////////////////////////////////////////////////////*/


.inlinebox {
    display: inline-block;
    background-color: #f0531a;
    color: white;

    height: fit-content;
    width: auto;

    padding: 5%;
    margin-top: 5%;
    margin-bottom: 15%;

    border: 1px solid black;
}

.inlinebox.shadow {
    margin-top: 0%;
    background-color: #f9f1c9;
    color: black;
    box-shadow: 10px 10px 1px black;
}

@media screen and (min-width: 769px) {
    .inlinebox {
        width: 40%;
    }
}

/*////////////////////////////////////////////////////

CUSTREQ

////////////////////////////////////////////////////*/

#pink {
    background-color: #ffadad;
}

#pinkleft {
    background-color: #ffadad;
}

#rosa {
    background-color: #e65789;

    margin-top: 10vh;
    height: auto;
}

#orange {
    background-color: #ff9d09;
}

#green {
    background-color: #00a34a;
    height: fit-content
}

#custreq-img {
    width: 130%;
    margin-top: 10%;
}

#musicbox {
    width: 100%;
}

h2.black {
    color: black;
    font-size: 20px;
}

p.mono {
    padding: 5%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: left;
}

#usageContainer {
    justify-content: center;
}

article#usage {
    background-color: black;
    width: 100%;
}

.inlinebox.startup {
    background-color: #d6f696;
    color: black;
    border: none;
    width: 84%;
    padding: 2% 1% 2% 15%;
    margin: 11% 0%;
}

h1.startup {
    color: #f3278d;
    text-shadow: 4px 4px 1px white;
    margin-bottom: 10%;
}



article.startup {
    flex-direction: column;
    justify-content: start;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: fit-content;
}

.column.startup {
    order: -1;
}

h1.nopal {
    color: white;
    text-shadow: 4px 4px 1px black;
}

article.nopal {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1%;

}

.column.nopal {
    display: flex;
    justify-content: end;
    padding: 0%;
    position: relative;
    width: 200px;
    right: 0%;
    align-self: start;
    color: white;
    background-color: #f65f28;
}

h1.musicbox {
    color: #01609b;
    text-shadow: 4px 4px 1px white;
    text-align: center;
    margin: 5% 5% 5% 0%;
}

article.musicbox {
    flex-direction: column;
    align-items: center;
}

.column.codeclinic {
    background: linear-gradient(to top, #005d96 90%, rgb(0, 0, 0, 0) 10%);
    color: white;
}

#codeclinic {
    width: 100%;
}


@media screen and (min-width: 769px) {
    #pink {
        background: linear-gradient(to left, #ffadad 80%, rgb(0, 0, 0, 0) 20%);
    }

    #pinkleft {
        background: linear-gradient(to right, #ffadad 80%, rgb(0, 0, 0, 0) 20%);
    }

    #rosa {
        background: linear-gradient(to right, #e65789 80%, rgb(0, 0, 0, 0) 20%);
        margin-top: 20vh;
    }

    #orange {
        background: linear-gradient(to right, #ff9d09 80%, rgb(0, 0, 0, 0) 20%);
    }

    #green {
        background: linear-gradient(to left, #00a34a 80%, rgb(0, 0, 0, 0) 20%);
    }

    #custreq-img {
        position: relative;
        left: 0%;
        width: 400px;
        margin-top: 0%;
    }

    #musicbox {
        width: 240%;
    }

    h2.black {
        font-size: 32px;
    }

    p.mono {
        font-size: 20px;
    }

    #usageContainer {
        justify-content: right;
    }

    article#usage {
        width: 100%;
    }

    article.startup {
        flex-wrap: wrap;
        align-content: start;
        height: 70vh;
    }

    h1.startup {
        margin-bottom: 0%;
    }

    .column.startup {
        order: 0;
    }

    article.nopal {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .column.nopal {
        width: 50%;
    }
}

@media screen and (min-width: 1440px) {
    article#usage {
        width: 60%;
    }
}


/*////////////////////////////////////////////////////

SYS

////////////////////////////////////////////////////*/

#lightorange {
    background-color: #ffcb81;
}

#lightorange-sys {
    background-color: #ffcb81;
    justify-content: center;
}

#blue {
    margin-top: 10vh;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #5fc7db;

    justify-content: start;

    height: 180vh;
}

#greenchaos {
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #0aa14f;
    margin-top: 55vh;
}

#sys {
    flex-direction: column;
    align-items: center;
}

#imgsys {
    position: relative;
    top: -20%;
    left: -50%;
    width: 200%;
}

h1#sysheader {
    font-size: 112px;
    color: #e75c2f;
    text-shadow: 4px 4px 1px black;
    margin-bottom: 10%;
}

#controls {
    margin-top: 5vh;
    height: 15vh;
    justify-content: center;
}

.column.controls {
    background-color: #f4692b;
    color: white
}

#controlsheader {
    color: white;
    margin-bottom: 10%;
}

article#file-tips {
    background-color: black;
    width: 100%;
    max-width: 220px;
}

#file-tips-container {
    justify-content: center;
    width: 100%;
}

article#chaos {
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

img#chaosimg {
    position: relative;
    margin-top: 10%;
    left: -50%;
    width: 200%;
}

img#workbench {
    width: 100%;
}

h1#megawb {
    padding: 0%;
    margin: 0%;
    margin-top: 10%;
    color: #292758;
    text-shadow: 4px 4px 1px black;
    font-size: 48px;
}

article#megawb-header {
    width: 68%;
    flex-direction: column;
}

article#megawb-text {
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: center;

    width: 100vw;

    margin-top: 10%;
}

article#megawb-bugs {
    flex-direction: column;
    align-items: center;

    width: 60vw;

    margin-top: 10%;
}

.column#megawb-bugs {
    background-color: #223061;
    margin-top: 10%;
    color: white;

    order: 1
}

.column#copyright {
    padding-top: 10%;
    order: 2;
    position: relative;
    left: -2%;
}

h2#megawb-bugs-header {
    background-color: black;
    font-size: 24px;
}



@media screen and (min-width: 769px) {
    #lightorange {
        background: linear-gradient(to right, #ffcb81 80%, rgb(0, 0, 0, 0) 20%);
    }

    #lightorange-sys {
        background: linear-gradient(to right, #ffcb81 80%, rgb(0, 0, 0, 0) 20%);
        justify-content: start;
    }

    #blue {
        position: relative;
        margin-top: 40vh;
        background: linear-gradient(to right, #5fc7db 80%, rgb(0, 0, 0, 0) 20%);
        height: 200vh;
        justify-content: start;
        align-items: flex-end;
    }

    #greenchaos {
        align-items: center;
        background: linear-gradient(to left, #0aa14f 80%, rgb(0, 0, 0, 0) 20%);
        margin-top: 25vh;
        z-index: -100;
    }

    #sys {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: right;
        align-items: start;

        width: 80%;
    }

    #syscolumn {
        order: -1;
        width: 60vw;
        max-width: 880px;
        height: fit-content;
    }

    #imgsys {
        top: 0;
        left: 0;
        width: 100%;
    }

    #controls {
        margin-top: 0vh;
        justify-content: start;
        padding-left: 5%;
    }

    h1#chaos {
        font-size: 64px;
        color: white;
        text-shadow: 4px 4px 1px #e95a2d;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    article#chaos {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    img#chaosimg {
        position: relative;
        width: 55vw;
        max-width: 800px;
        left: 0%;
    }

    img#workbench {
        width: 50vw;
    }

    article#file-tips-container {
        justify-content: flex-end;
        width: 60%;
    }

    article#file-tips {
        width: 100%;
        max-width: 500px
    }


    article#megawb-header {
        top: -20vh;
        align-items: flex-start;
    }

    article#megawb-text {
        margin-top: 5%;
    }

    article#megawb-bugs {
        align-self: flex-start;
        margin-top: 1%;
        align-items: flex-end;
        width: 69vw;
    }

    h1#megawb {
        text-shadow: 8px 8px 1px black;
        font-size: 150px;
        margin-top: 5%;
    }

    .column#megawb-bugs {
        margin-top: 2%;
    }

    .column#copyright {
        width:270px;
        left: 1%;
    }

}