@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');



/*////////////////////////////////////////////////////

menu

////////////////////////////////////////////////////*/

nav {
    display: flex;
    justify-content: center;
    gap: 1.5vw;

    position: relative;

    width: 100vw;

    height: 35vw;
    max-height: 275px;

    margin: 6vh 0% 6vh 0%;

    border: 1px solid black;
}

.boxRed {

    display: flex;
    justify-content: center;

    align-self: flex-end;
    width: 13vw;
    max-width: 99px;
    height: 33vw;
    max-height: 259px;
    background-color: #ec3c10;

    margin-left: 0.1%;
    margin-right: 0.1%;
    padding: 0%;

}

.boxRed:hover .letterYellow {
    display: none;
}

.boxRed:hover .letterYellowAlt {
    display: block;
}

.boxYellow {

    display: flex;
    justify-content: center;

    align-self: flex-start;

    width: 13vw;
    max-width: 99px;
    height: 33vw;
    max-height: 259px;
    background-color: #f8e006;

    margin-left: 0.1%;
    margin-right: 0.1%;
    padding: 0%;
}

.boxYellow:hover .letterRed {
    display: none;
}

.boxYellow:hover .letterRedAlt {
    display: block;
}

.letterRed {

    font-family: 'Tinos', serif;
    font-size: 42vw;

    display: block;
    position: relative;
    top: -25%;
    color: #ec3c10;
    text-decoration: none;

    text-shadow: 1vw 0.4vw 1px black;

    -webkit-transform: scale(0.4, 1);
    -moz-transform: scale(0.4, 1);
    -ms-transform: scale(0.4, 1);
    -o-transform: scale(0.4, 1);
    transform: scale(0.4, 1);
}

.letterRedAlt {
    font-family: 'Tinos', serif;
    font-size: 3vw;

    text-decoration: none;
    color: #ec3c10;
    text-shadow: 0.12vw 0.12vw 1px black;

    writing-mode: vertical-lr;
    text-orientation: upright;

    letter-spacing: -20%;

    display: none;
    position: relative;
    top: 6%;

}

.letterYellow {

    font-family: 'Tinos', serif;
    font-size: 42vw;

    display: block;
    position: relative;
    top: -25%;
    color: #f8e006;
    text-decoration: none;

    text-shadow: 1vw 0.4vw 1px black;

    -webkit-transform: scale(0.4, 1);
    -moz-transform: scale(0.4, 1);
    -ms-transform: scale(0.4, 1);
    -o-transform: scale(0.4, 1);
    transform: scale(0.4, 1);
}

.letterYellowAlt {
    font-family: 'Tinos', serif;
    font-size: 3vw;

    text-decoration: none;
    color: #f8e006;
    text-shadow: 0.12vw 0.12vw 1px black;

    writing-mode: vertical-lr;
    text-orientation: upright;

    letter-spacing: -20%;

    display: none;
    position: relative;
    top: 6%;

}

.the {
    align-self: flex-end;

    font-family: 'Tinos', serif;
    font-size: 7vw;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    letter-spacing: 0.4em;

    color: #fff;

    padding-top: 1%;
    padding-bottom: 0%;

    margin: 0%;

    background-color: #000;
}

@media screen and (min-width: 786px) {

    nav {
        width: 100vw;
    }

    .letterRed {
        font-size: 330px;
    }

    .letterYellow {
        font-size: 330px;
    }

    .the {
        font-size: 55px;
    }
}

/*////////////////////////////////////////////////////

general

////////////////////////////////////////////////////*/

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0% 0% 0% 0%;
    overflow-x: hidden;
}

/*for debugging*/
/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
*/

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;

    border: 2px solid green;
    background-color: grey;
    padding: 0% 0% 2% 0%;
    margin: 0%;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    max-width: 722px;
    padding: 0%;

    border: 1px solid red;
}

.column {
    border: 1px solid white;
    width: 200px;
    height: fit-content;
    padding: 2%;
}

@media screen and (min-width: 786px) {

    .container {
        background: linear-gradient(to right, grey 80%, rgb(0, 0, 0, 0) 20%);
    }

    article {
        justify-content: left;
        width: 60vw;
        max-width: 2000px;
    }

    .column {
        width: 220px;
    }

}

/*////////////////////////////////////////////////////

text

////////////////////////////////////////////////////*/

h1 {
    display: block;
    font-family: 'Tinos', serif;
    font-size: 32px;
    color: black;
    text-align: center;

    padding: 0;
    margin: 0% 0% 2% 0%;

    text-shadow: 4px 4px 1px rgb(241, 81, 12);
}

h1::after {
    content: "\a";
    white-space: pre;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;

    text-align: center;

    margin: 0%;
}

p {
    font-size: 16px;
    padding: 0%;
    margin: 0%;
    line-height: 95%;
    text-align: justify;
}

.initial {
    padding: 1.1rem 0;
    margin: 0 .3rem 0 0;
    font-size: 300%;
    line-height: 1%;

    float: left;
}

.indent {
    text-indent: 10%;
    float: right;
}

ul.a {
    list-style-type: disc;
    margin-left: -10%;
    font-size: 16px;

    text-align: justify;
}

@media screen and (min-width: 789px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 48px;
    }

    p {
        font-size: 20px;
    }

    ul.a {
        font-size: 20px;
    }

}

/*////////////////////////////////////////////////////

boxes

////////////////////////////////////////////////////*/


.inlinebox {
    display: inline-block;
    background-color: #e65927;
    color: white;

    height: fit-content;
    width: auto;

    padding: 5%;
    margin-top: 5%;
    margin-bottom: 15%;

    border: 1px solid black;
}

.inlinebox.shadow {
    margin-top: 0%;
    background-color: #f9f1c9;
    color: black;
    box-shadow: 10px 10px 1px black;
}

@media screen and (min-width: 769px) {
    .inlinebox {
        width: 40%;
    }
}

/*////////////////////////////////////////////////////

CUSTREQ

////////////////////////////////////////////////////*/

#pink {
    background-color: #f7c5c5;
}

#pinkleft {
    background-color: #f7c5c5;
}

#rosa {
    background-color: #d66a8f;

    margin-top: 20vh;
    height: auto;
}

#orange {
    background-color: #f2b456;
}

#green {
    background-color: #0aa14f;
}

#musicbox {
    width: 100%;
}

h2.black {
    color: black;
    font-size: 20px;
}

p.mono {
    padding: 5%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: left;
}

.inlinebox.startup {
    background-color: #cfe7a0;
    color: black;
    border: none;
    width: 84%;
    padding: 2% 1% 2% 15%;
    margin: 11% 0%;
}

h1.startup {
    color: #d94590;
    text-shadow: 4px 4px 1px white;
}



article.startup {
    flex-direction: column;
    justify-content: start;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: fit-content;
}

.column.startup {
    order: -1;
}

h1.nopal {
    color: white;
    text-shadow: 4px 4px 1px black;
}

article.nopal {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1%;

}

.column.nopal {
    display: flex;
    justify-content: end;
    padding: 0%;
    position: relative;
    width: 50%;
    right: 0%;
    align-self: start;
    color: white;
    background-color: #f65f28;
}

h1.musicbox {
    color: #09507d;
    text-shadow: 4px 4px 1px white;
    text-align: center;
}

article.musicbox {
    flex-direction: column;
    align-items: start;
}

.column.codeclinic {
    background: linear-gradient(to top, #09507d 90%, rgb(0, 0, 0, 0) 10%);
    color: white;
}

#codeclinic {
    width: 100%;
}


@media screen and (min-width: 769px) {
    #pink {
        background: linear-gradient(to left, #f7c5c5 80%, rgb(0, 0, 0, 0) 20%);
    }

    #pinkleft {
        background: linear-gradient(to right, #f7c5c5 80%, rgb(0, 0, 0, 0) 20%);
    }

    #rosa {
        background: linear-gradient(to right, #d66a8f 80%, rgb(0, 0, 0, 0) 20%);
    }

    #orange {
        background: linear-gradient(to right, #f2b456 80%, rgb(0, 0, 0, 0) 20%);
    }

    #green {
        background: linear-gradient(to left, #0aa14f 80%, rgb(0, 0, 0, 0) 20%);
    }

    #musicbox {
        width: 240%;
    }

    h2.black {
        font-size: 32px;
    }

    p.mono {
        font-size: 20px;
    }

    article.startup {
        flex-wrap: wrap;
        align-content: start;
        height: 75vh;
    }

    .column.startup {
        order: 0;
    }

    article.nopal {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    h1.musicbox {
        text-align: left;
    }
}


/*////////////////////////////////////////////////////

SYS

////////////////////////////////////////////////////*/

#lightorange {
    background-color: #f1cf9f;
}

#blue {
    margin-top: 10vh;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #5fc7db;
}

#greenchaos {
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #0aa14f;
    margin-top: 60vh;
}

#sys {
    justify-content: center;
}

#syscolumn {
    position: relative;
    order: 1
}

#imgsys1 {
    position: static;
    width: 100%;
}

#imgsys2 {
    position: static;
    width: 100%;
}

h1#sysheader {
    font-size: 112px;
    color: #e75c2f;
    text-shadow: 4px 4px 1px black;
    margin-bottom: 10%;
}

#controls {
    margin-top: 5vh;
    height: 15vh;
    justify-content: center;
}

.column.controls {
    background-color: #f4692b;
    color: white
}

#controlsheader {
    color: white;
    margin-bottom: 10%;
}

img#chaosimg {
    position: relative;
    margin-top: 10%;
    width: 100%;
}

img#workbench {
    position: relative;
    top: -5vh;
    width: 100%;
}

h1#megawb {
    padding: 0%;
    margin-top: 0%;
    color: #292758;
    text-shadow: 4px 4px 1px black;
    font-size: 64px;
}


@media screen and (min-width: 769px) {
    #lightorange {
        background: linear-gradient(to right, #f1cf9f 80%, rgb(0, 0, 0, 0) 20%);
    }

    #blue {
        position: relative;
        margin-top: 50vh;
        background: linear-gradient(to left, #5fc7db 80%, rgb(0, 0, 0, 0) 20%);
    }
    
    #greenchaos {
        align-items: center;
        background: linear-gradient(to left, #0aa14f 80%, rgb(0, 0, 0, 0) 20%);
        margin-top: 60vh;
    }
    #sys {
        justify-content: right;
    }

    #syscolumn {
        order: -1;
    }

    #imgsys1 {
        position: absolute;
        top: 0%;
        right: 40%;
        width: 200%;
    }

    #imgsys2 {
        position: absolute;
        top: 32vh;
        right: 10%;
        width: 200%;
    }

    #controls {
        margin-top: 20vh;
        justify-content: start;
    }

    h1#chaos {
        font-size: 64px;
        color: white;
        text-shadow: 4px 4px 1px #e95a2d;
    }

    img#chaosimg {
        position: relative;
        width: 200%;
    }

    img#workbench {
        position: absolute;
        top: -40vh;
        width: 50vw;
    }

    h1#megawb {
        margin-top: 15vh;
        text-shadow: 8px 8px 1px black;
        font-size: 128px;
    }
}  